@model EntityLayer.Concrete.Announcement
@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="col-md-6 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body ">
            <h4 class="card-title">  Duyuru Ekle</h4>
            <p class="card-description">
               Duyuru Ekle
            </p>


            <form class="forms-sample" method="post">

                <div class="form-group">
                    <label>Başlık</label>                 
                    <input type="text" class="form-control" asp-for="Title" placeholder="Başlık">
                </div>

                <div class="form-group">
                    <label>Açıklama</label>
                   
                    <textarea cols="30 " rows="5" asp-for="Description" class="form-control" placeholder="Açıklama ekle.." ></textarea>
                </div>
             

                <button type="submit"href="/Contant/Index" class="btn btn-primary me-2">Kaydet</button>
                <a href="Announcement/Index" class="btn btn-light btn-rounded btn-fw">Geri Dön</a>

            </form>


        </div>

    </div>
</div>


